
@font-face {
	font-family: 'SourceSongti';
	src: url('../fonts/SourceHanSerifSC-VF.otf.woff2') format('woff2');
	/* 字体文件路径 */
	font-weight: normal;
	font-style: normal;
}

/*.. Body ..*/
body {
	font-family: 'Poppins', sans-serif;
	font-family: 'SourceSongti', serif;
}

/*.. Homepage ..*/
.animation-slider {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.text-navbar li a {
	font-size: 18px;
	color: white;
	margin: 14px;
}

.navbtn {
	color: #fff !important;
	background-color: #00174B !important;
	font-size: 13px;
	width: 130px;
	height: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}

.navbar {
	padding: 1rem 5%;
	transition: background-color 0.5s;
	/* 平滑过渡背景色 */
	;
}

.navbar-scrolled {
	border-color: rgba(255, 255, 255, 0.3);
	border-bottom-style: solid;
	background-color: #00174B !important;
	/* 滚动后的背景色 */
}

.logoimg {
	height: 54px;
}

.fullscreen-bg {
	background-image: linear-gradient(180deg, rgba(0, 23, 75, 0) 60%, rgba(0, 23, 75, 1) 100%), url('../images/pexels-jibar2ofoto-1753260.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 93vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
}

.container {
	padding: 0 5%;
	max-width: 100% !important;
}

.main-btn {
	display: none !important;
}

.main-btn .p-3 {
	padding: 0.5rem 1rem !important;
}

.fenge {
	width: 80%;
	margin: 1rem 10% 4rem 10%;
	border-color: rgba(0, 23, 75, 0.3);
	border-bottom-style: solid;
}

.py-lg-3 {
	padding-bottom: 0 !important;
}


h1 {
	font-weight: bold;
	font-size: 52px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
}

h4 {
	font-size: 13px;
	font-weight: 300;
	width: 86%;
	height: 90px;
	overflow: overlay;
}

h4::-webkit-scrollbar {
	display: none;
}

.jianju {
	letter-spacing: 4px;
}

h5 {
	line-height: 32px;
}

h6 {
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 25px;
	font-size: 14px; 
	padding: 0 6rem;
}

p {
	font-weight: 500;
	letter-spacing: 0.5px;
}

.slider-part {
	background-color: #00174B;
}

.contact-part {
	margin-top: 5rem;
	background-image: linear-gradient(180deg, rgba(0, 23, 75, 0) 0%, rgba(0, 23, 75, 1) 90% ) ,url('../images/us.jpg');
	background-color: #00174B;
	background-size: cover;
	background-position: center center;
	width: 100%;
	color: white;
}

.contact-btn {
	color: #00174B !important;
	background-color: #fff;
	width: 170px;
	height: 60px;
	font-weight: bold;
	border: 2px #00174B;
}

.contact-btn:hover {
	box-shadow: inset 0 0 0 2px #00174B;
	background-color: #fff;
	fill: #00174B;
}

.contact-btn2 {
	color: #fff !important;
	border: 1px solid #fff;
	font-size: 15px;
	width: 190px;
	height: 60px;
	font-weight: bold;
}

.contact-btn2:hover {
	box-shadow: inset 0 0 0 1px #fff;
	fill: #fff;
}

.foot-part1 {
/* 	background-color: #00174B */;
}
.foot-part1 img {
	width: 220px;
	height: 220px;
}

.foot-part1 p {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-size: 15px;
	font-weight: bold;
	color: #00174B;
}

.foot-part1 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 24px;
	font-size: 13px;
	color: #00174B;
	letter-spacing: 0.5px;
}

.foot-part1 ul a {
	color: #6f6b6b;
}

.foot-part2 ul li a {
	color: #495057;
}

.foot-part2 ul li {
	list-style: none;
	display: inline;
	margin: 0px 15px 0px 0px;
	font-size: 13px;
	font-weight: bold;
}

.social-icon li i {
	height: 30px;
	width: 30px;
	font-size: 20px;
}

.foot-part3 {
	color: #5d5e5f;
}


/*.. About Page Css ..*/

.h1before {
	position: relative;
}

.h1before:before {
	content: '';
	display: block;
	position: absolute;
	top: -0.4em;
	left: -0.3em;
	background-repeat: no-repeat;
	width: 170px;
	height: 200px;
	background-size: 170px 200px;
	background-image: url('../images/tracks-2.png');
	z-index: 1;
}

.about-sliderpart p {
	font-size: 18px;
}

.about-sliderpart p:after {
	content: '';
	display: block;
	position: absolute;
	right: 7em;
	bottom: 5em;
	background-repeat: no-repeat;
	width: 210px;
	height: 186px;
	background-size: 210px 186px;
	background-image: url('../images/h1bg.png');
	z-index: -1;
}

.about-counting-part p {
	line-height: 18px;
}

.logo-list img {
	padding: 22px 27px 22px 27px;
}

.about-aboutpart a {
	color: #00174B;
	text-decoration: none;
	border-bottom: 2px solid #00174B;
	cursor: pointer;
	font-weight: bold;
}

.about-aboutpart a:hover {
	text-decoration: none;
	color: #1264a3;
}

.about-offices p {
	font-weight: normal;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 0.1px;
}

.direction-bg {
	color: #00174B;
}

a {
	color: #00174B;
}

.hoverzoom:hover .direction-bg {
	background: #00174B;
	color: #fff !important;
}


/*..Engineering Page Css ..*/

.page3-slider ul li {
	display: inline-block;
	width: 40%;
	line-height: 35px;
	letter-spacing: 0.5px;
}

.page3-slider ul li a {
	color: #454545;
	font-weight: 500;
}

.page3-slider ul li a:hover {
	color: #00174B;
}

.page3-slider ul li a i {
	font-size: 23px;
	margin-right: 10px;
}

.page3-slider input {
	width: 50%;
	height: 50px;
	padding: 15px;
	font-size: 14px;
	outline: 0;
	border-radius: .25rem;
	margin: 0 7px 0 0px;
	border: 1px solid #b9babd;
}

.page3-slider button {
	color: #fff !important;
	background-color: #00174B;
	font-size: 15px;
	width: 170px;
	height: 50px;
	border-radius: .25rem;
	font-weight: bold;
	outline-color: #00174B;
	border: 0;
	font-size: 14px;
}

.develop-part1 {
	background-image: url('../images/engineering/capture.png');
	background-position: right top;
	background-repeat: no-repeat;
}

.develop-part1 h6 {
	font-size: 14px;
	font-weight: 500;
}

.develop-part1 p {
	font-weight: 400;
	letter-spacing: 0.4px;
}

.textborder {
	text-decoration-style: dashed;
	text-decoration-line: underline;
	text-decoration-color: #2d2a2a;
	text-underline-position: under;
}

.h2border {
	border-top: 1px solid #696969;
	font-size: 50px;
}

.quotes-part {
	position: relative;
}

.quotes-part p i {
	font-size: 23px;
	font-weight: 400;
}

.quotes-part .quote-p {
	line-height: 8px;
}

.quote-p {
	font-weight: 500;
	letter-spacing: 0.4px;
}

.develop3-bg {
	background-color: #f5f5f5;
}

.comp-logo img {
	padding: 0px 15px 0px 0px;
	max-width: 120px;
	margin: 0px 10px 0px 9px;
}

@media (max-width: 991.98px) {
	.channel-part .row .order-1 {
		order: initial;
		/* 恢复为文档顺序 */
	}

	.channel-part .row .order-2 {
		order: initial;
		/* 恢复为文档顺序 */
	}

	.text-navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.navbar ul li {
		margin-top: 4rem;
	}

	.fourlist {
		display: none !important;
	}

	h2 {
		font-size: 16px !important;
	}

	h1 {
		font-size: 32px !important;
	}

	.jianju {
		letter-spacing: 1px;
	}

	.slider-part .justify-content-center {
		margin: 1rem;
		justify-content: left !important;
	}

	.slider-part .container {
		padding-bottom: 12% !important;
	}
	.channel-part .text-center {
		text-align: left !important;
	}

	.main-btn {
		display: block !important;
	}

	.fenge {
		margin: 2rem 5% 0 5% !important;
		width: 90%;
	}

	.px-right {
		padding-right: 0 !important;
	}

	.channel-part img {
		padding: 1rem 0 !important;
	}

	.p-4 {
		padding: 0 !important;
	}

	.my-5 {
		margin: 3rem 0 2rem 0 !important;
	}

	.py-5 {
		padding: 1.5rem 0 !important;
	}

	.pt-3 {
		font-size: 0.8rem !important;
	}
}